body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Alfa Slab One', serif;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #e7e7e7;
    font-size: 1vw;
    text-decoration-color: black;
}

main {
    min-height: 80vh;
}

p {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 10vh;
    background-color: aqua;
}

.footer {
    height: 10vh;
    background-color: green;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.editor {
    height: 70vh;
    width: 100%;
}

.editor-submit-parent {
    min-width: 0; /* 👈 key fix — stops grid cell from overflowing */
    width: 100%;
}