{% extends "layout.html" %} {% block content %}
<form method="post">
    <div>
        {{ form.username.label }}
        {{ form.username() }}
        {% if form.username.errors %}
            <div class="field-error">{{ form.username.errors[0] }}</div>
        {% endif %}

        {{ form.password.label }}
        {{ form.password() }}
        {% if form.password.errors %}
            <div class="field-error">{{ form.password.errors[0] }}</div>
        {% endif %}

        <button type="submit">Sign in</button>
    </div>
</form>
{% endblock %}