{% extends "layout.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title> <!-- ADD TITLE -->
</head>
<body>
    <div class="main-container">
        <div class="problem-description">DESCRIPTION GOES HERE</div>
        <div class="editor-submit-parent">
            <div id="editor" class="editor"></div>
            <button onclick="run_code()">▶ Run Code</button>
        </div>
        <div id="testcases" class="testcases">
            <div id="testcase-button-container" class="testcase-button-container"></div>
            <div id="testcase-container"></div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.js"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs' }});
    require(['vs/editor/editor.main'], function() {
        editor = monaco.editor.create(document.getElementById("editor"), {
            value: "def hi_benji(name):\n    print(name)",
            language: "python",
            theme: "vs-dark",
            automaticLayout: true
        });
    });

    async function run_code() {
        const response = await fetch('/run_code', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 'code': editor.getValue(), 'problem_id': "{{problem_id}}" })
        });

        data = await response.json();
        console.log(JSON.parse(JSON.stringify(data)));

        console.log(data);

        format_testcases(data);
    }

    function format_testcases(data) {
        const public_tests = [];

        for (testcase in data) {
            if (data[testcase].type == 'public') {
                public_tests.push(testcase);
            }
        }

        const testcase_container = document.getElementById("testcase-container");
        const testcase_button_container = document.getElementById("testcase-button-container");

        for (const [index, testcase] of public_tests.entries()) {

            const current_testcase = document.createElement("div");
            
            current_testcase.id = "public_testcase_" + (index+1);
            current_testcase.className = "testcase";

            testcase_container.appendChild(current_testcase);

            const testcase_user_output = document.createElement("div");
            const testcase_correct_output = document.createElement("div");
            const testcase_button = document.createElement("button");



            testcase_user_output.textContent = data[testcase].output;
            testcase_user_output.className = 'testcase-user-output'

            testcase_button.onclick = () => show_testcase((index+1));
            testcase_button.textContent = "Test #" + (index+1);


            for (const variable in data[testcase].testcase[0]) {
                const testcase_value = document.createElement("div");
                testcase_value.textContent = variable + " = " + data[testcase].testcase[0][variable];
                testcase_value.className = 'testcase-value'
                current_testcase.appendChild(testcase_value);
            }

            testcase_correct_output.className = 'testcase-correct-output'
            testcase_correct_output.textContent = data[testcase].testcase[1]

            console.log(testcase);
            console.log(data[testcase].output);


            current_testcase.appendChild(testcase_correct_output);
            current_testcase.appendChild(testcase_user_output);
            testcase_button_container.appendChild(testcase_button);
            current_testcase.style.display = "none";
        }

        testcase_container.firstChild.style.display = "block";
    }

    function show_testcase(testcase_id) {
        const public_testcases = document.getElementById("testcase-container");

        for (const testcase of public_testcases.children) {
            console.log("hi");
            testcase.style.display = 'none';
        }
        
        const special_testcase = document.getElementById("public_testcase_" + testcase_id);
        special_testcase.style.display = 'block';
    }   
</script>
</body>
</html>
{% endblock %}