{% extends "layout.html" %} {% block content %}
<div class="signup-login-container">
  <h1 class="signup-login-title">login</h1>
  <hr class="signup-login-line" />

  <!-- login form-->
  <form class="signup-login-form" method="post">
    <!-- displays error message if needed-->
    {% if form.username.errors %}
        <div class="field-error">{{ form.username.errors[0] }}</div>
    {% endif %}
    <!-- username input-->
    <div class="signup-login-input-header-container">
      <label class="signup-login-header">{{ form.username.label }}</label>
      <div id="username" name="username">{{ form.username(class="signup-login-input") }}</div>
    </div>

    <!-- displays error message if needed-->
    {% if form.password.errors %}
        <div class="signup-login-fail-message">{{ form.password.errors[0] }}</div>
    {% endif %}
    {% if form.password_confirm.errors %}
        <div class="field-error">{{ form.password_confirm.errors[0] }}</div>
    {% endif %}

    <!-- password input -->
    <div class="signup-login-input-header-container">
      <label class="signup-login-header">{{ form.password.label }}</label>
      <div id="password" name="password">{{ form.password(class="signup-login-input") }}</div>
    </div>

    <!-- password confirm input -->
    <div class="signup-login-input-header-container">
      <label class="signup-login-header">{{ form.password_confirm.label }}</label>
      <div id="password" name="password">{{ form.password_confirm(class="signup-login-input") }}</div>
    </div>

    <!-- sign in button-->
    <button class="signup-login-button" type="submit"> Sign in</button>
  </form>
  <a class="signup-login-signup-button" href="/signup">signup</a>
</div>
{% endblock %}